<!DOCTYPE html>

<html>
<head>
    <title>System Obsługi Prac Dyplomowych PWr - Strona Główna</title>
    <meta charset="UTF-8">
    <meta name="keywords" content="pwr, prace dyplomowe, studenci, promotorzy, uczelnia, politechnika, wroclaw, wroclawska">
    <meta name="description" content="This page helps students and employees on the University of Technology in Wroclaw in managing engineering/master/PhD thesises, reporting titles etc.">
    <link rel = "stylesheet" type = "text/css" href="css/styles.css" />

</head>
<body>
<header>
    <a href="index.html"><img src="images/logoBackground.png" alt="Politechnika Wrocławska"/></a>

    <h1 class="header-title">SYSTEM OBSŁUGI PRAC DYPLOMOWYCH</h1>
    <nav>
        <a href="index.html">Stronga Główna</a> <a href="logging.html">Logowanie</a> <a href="registration.html">Rejestracja</a> <a href="students-list.html">Lista Studentów</a> <a href="http://www.portal.pwr.wroc.pl/files/prv/id24/nauczanie/regulamin_studiow_2015.pdf" download>Regulamin</a> <a href="ftp://ftp.ps.pl/pub/Linux/debian-cd/" download>Download</a>
    </nav>
</header>


<footer>
    &copy; SOPD PWr 2015
</footer>
</body>

</html>
